# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# node_modules & build
node_modules/
dist/
dist-ssr/
coverage/
*.tsbuildinfo

# 환경 파일
.env
*.local

# Cypress (사용 중이면 유지!)
/cypress/videos/
/cypress/screenshots/

# macOS/Windows/IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VSCode 추천 확장만 커밋 허용
!.vscode/extensions.json
